<!-- Read from data.flats with owner's name as key -->
<% flat = data.flats[owner] %>

<!-- Inject flat data in template -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(250,250,250,0.6) 0%, rgba(250,250,250,0.3) 50%), url('<%= image_path flat.picture %>'); height: 50vh; background-position: center;">
</div>

<div class="header-flat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-1">
        <div class="header-flat-details padded text-center">
          <div class="header-flat-owner">
            <%= image_tag flat.owner_picture, class: "img-circle avatar-xlarge" %>
            <h2><%= flat.owner_name %></h2>
          </div>
          <div class="header-flat-name">
            <h1><%= flat.summary %></h1>
            <p><%= flat.city %></p>
            <p><%= '<i class="fa fa-star" style="color: #ffb400"></i> ' * flat.rating + '<i class="fa fa-star" style="color: #cacccd"></i> '*(5 - flat.rating) %></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 wrapper-grey square-pad">
        <form action="#" >
          <h3 class="text-center">Book this <%= flat.house_type %></h3>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="checkin" id="checkin">
              </div>
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="checkout">
              </div>
            </div>
          </div>
          <div class="form-group">
            <select name="" id="guests" class="form-control">
              <option value="1">1 guest</option>
              <option value="2">2 guests</option>
              <option value="3">3 guests</option>
            </select>
          </div>
          <input type="submit" class="btn btn-danger" value="Book it" style="width: 100%">
        </form>
      </div>
    </div>
  </div>
</div>

<div id="flat-description">
  <div class="wrapper-grey padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2>About this <%= flat.house_type %></h2>
          <% if flat.description == false  %>
            <p>No Description</p>
          <% else %>
            <p><%= flat.description %></p>
          <% end %>

          <hr>
          <div class="row" id="flat-data">
            <div class="col-xs-12 col-sm-2">
              The Space
            </div>
            <div class="col-xs-12 col-sm-4">
              <ul class="list-unstyled">
                <li>Accommodates:  <strong><%= flat.guest_max %></strong></li>
                <li>Bathrooms:  <strong><%= flat.bathrooms %></strong></li>
                <li>Bed type:  <strong><%= flat.bed_type %></strong></li>
                <li>Bedrooms:  <strong><%= flat.bedrooms %></strong></li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
              <ul class="list-unstyled">
                <li>Beds: <strong><%= flat.bed_type %></strong></li>
                <li>Property type: <strong><%= flat.house_type %></strong></li>
                <li>Room type: <strong>Entire home/apt</strong></li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="row" id="flat-data">
            <div class="col-xs-12 col-sm-2">
              Amenities
            </div>
            <div class="col-xs-12 col-sm-4">
              <ul class="list-unstyled">
                <% if flat.kitchen %>
                <li><i class="fa fa-cutlery"></i><strong> Kitchen</strong></li>
                <% end %>
                <% if flat.wifi %>
                  <li><i class="fa fa-wifi"></i><strong> Wifi</strong></li>
                <% end %>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-4">
              <ul class="list-unstyled">
                <% if flat.tv %>
                  <li><i class="fa fa-desktop"></i><strong> TV</strong></li>
                <% end %>
                <% if flat.drink %>
                  <li><i class="fa fa-glass"></i><strong> Welcome drink</strong></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
